<div id="<%= dom_id quote %>">
  <p>
    <strong>Customer:</strong>
    <%= quote.customer %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= quote.supplier %>
  </p>

  <p>
    <strong>Quote:</strong>
    <%= quote.quote %>
  </p>

  <p>
    <strong>Tax included:</strong>
    <%= quote.tax_included %>
  </p>

  <p>
    <strong>State:</strong>
    <%= quote.state %>
  </p>

  <p>
    <strong>Tax rate:</strong>
    <%= quote.tax_rate %>
  </p>

</div>
